.padding--left {
    padding-left: 3.5rem;
}

.value {
    font-size: 3rem;
    font-weight: 300;
    padding: 0 1.9rem;
    color: $color-primary-dark;
}

.heading {
    font-size: 5.6rem;
    letter-spacing: 1px;
    color: $color-grey-dark-1;
    padding: .7rem 0;
}

.heading-sub {
    font-size: 3.2rem;
    color: $color-grey-dark-1;
}

.heading--sub {
    width: 45rem;
    color: $color-grey-dark-3;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    font-family: $font-tertiary;
    line-height: 1.4;
}

.hr {
    background-color: $color-primary;
    width: 7rem;
    height: 3px;
    &--2 {
        background-color: $color-grey-light-1;
        color: $color-grey-light-1;
        width: 90rem;
        height: .5px;
        @media only screen and (max-width: $bp-large) {
            width: 80rem;
        }
        @media only screen and (max-width:$bp-medium) {
            width: 70rem;
        }
        @media only screen and (max-width:$bp-medium-large) {
            width: 60rem;
        }
        @media only screen and (max-width:$bp-medium-small) {
            width: 45rem;
        }
        @media only screen and (max-width:$bp-small) {
            width: 35rem;
        }
        @media only screen and (max-width:$bp-smallest) {
            width: 25rem;
        }
    }
}

.logo-2 {
    height: 100%;
}

.copyright {
    text-align: center;
    font-size: 1.2rem;
    @media only screen and (max-width: $bp-small) {
        width: 90%;
        ;
    }
}

.backgrd--1 {
    background-image: linear-gradient(to top, rgba($color-primary-dark, 0.05), rgba($color-primary, 0.9)), (url(../img/back4.jpg));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: $font-tertiary;
    height: 100vh;
    position: relative;
    transition: all .2s;
    z-index: 2;
}

.backgrd--2 {
    background-image: linear-gradient(to top, rgba($color-primary-dark, 0.05), rgba($color-primary, 0.9)), (url(../img/background2.jpeg));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    font-family: $font-tertiary;
    position: relative;
    transition: all .2s;
    z-index: 2;
}

.backgrd--3 {
    background-image: linear-gradient(to top, rgba($color-primary-dark, 0.05), rgba($color-primary, 0.9)), (url(../img/backgound5.jpg));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    font-family: $font-tertiary;
    transition: all .2s;
    position: relative;
    z-index: 2;
}

.backgrd--4 {
    background-image: linear-gradient(to top, rgba($color-primary-dark, 0.05), rgba($color-primary, 0.9)), (url(../img/image5.jpeg));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    font-family: $font-tertiary;
    position: relative;
    transition: all .2s;
    z-index: 2;
}

.italic {
    font-family: $font-tertiary;
    font-style: italic;
}

.quote {
    font-size: 8rem;
    display: block;
    margin-bottom: -8rem;
    color: $color-grey-dark-3;
}

.margin-left {
    @media only screen and (max-width: $bp-small) {
        margin-left: 2rem;
    }
}

.margin-top {
    margin-top: 2rem;
}